
* {
	font-family: verdana, tahoma, sans-serif;
}

h1,h2,h3,h4,h5 {
	font-family: georgia, serif;
}

canvas.game {
	/*border: 1px solid black;*/
	width: 100%;
	height: 100%;
}

div.game {
	width: 1200px;
	height: 500px;
	border: 1px solid #aaa;
	padding: 0px;
}

div.explanation {
	margin-left: 2em;
	width: 800px;
}

.spoiler {
	background-color: black;
	color: black;
}